@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>

<form id="form">
    <div class="row">
        <div class="col-md-12 form-group">
            <label for="fupArquivos">Selecione seus arquivos</label>
            <br />
            <input id="fupArquivos" type="file" multiple name="arquivos" />
        </div>
        <div class="col-md-6 form-group">
            <label for="txtWidth">Largura máxima</label>
            <input id="txtWidth" type="text" class="form-control" name="width" />
        </div>
        <div class="col-md-6 form-group">
            <label for="txtHeight">Altura máxima</label>
            <input id="txtHeight" type="text" class="form-control" name="height" />
        </div>
        <div class="col-md-12 form-group">
            <button type="submit" class="btn btn-primary" form="form" id="btnUpload" value="Reduzir imagens">Reduzir imagens</button>
        </div>
    </div>
</form>


@section scripts{
    <script>
        $(function () {
            $("#form").submit(function (e) {
                e.preventDefault();
                var formData = new FormData(this);

                $.ajax({
                    url: "/Home/Redimensionar",
                    type: 'POST',
                    data: formData,
                    xhrFields: {
                        responseType: 'blob'  // Adicionado para tratar a resposta como blob
                    },
                    success: function (data, status, xhr) {
                        var blob = new Blob([data], { type: 'image/png' });
                        var downloadUrl = URL.createObjectURL(blob);
                        var a = document.createElement("a");

                        // Extrai o nome do arquivo do header 'Content-Disposition'
                        var fileName = "";
                        var disposition = xhr.getResponseHeader('Content-Disposition');
                        if (disposition && disposition.indexOf('attachment') !== -1) {
                            var filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;
                            var matches = filenameRegex.exec(disposition);
                            if (matches != null && matches[1]) {
                                fileName = matches[1].replace(/['"]/g, '');
                            }
                        }

                        a.href = downloadUrl;
                        a.download = fileName;
                        document.body.appendChild(a);
                        a.click();
                        document.body.removeChild(a);
                        URL.revokeObjectURL(downloadUrl);
                    },
                    error: function (xhr, status, error) {
                        // Tratamento de erro
                        var reader = new FileReader();
                        reader.onload = function () {
                            var response = JSON.parse(reader.result);
                            alert("Erro: " + response.message);
                        };
                        reader.readAsText(xhr.responseText);
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            });
        });
    </script>
}